* { 
    margin: 0;
    padding: 0;
}
 
body {
    font-family: "YekanBakhHeavy", Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
    padding: 21px 0px 7px;
    background-color: rgb(255, 255, 255, .72);
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    transition: all .3s ease;
}
.logo {
    margin: 11px 28px;
    border-radius: 50px;
    /* width: 50px; */
}

.header-ul {
    display: flex;
    list-style:none ;
}

.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}

.header-ul li a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(24, 1, 48);
}

.header-ul > li:last-child a {
    color: rgb(36, 36, 245);
    background-color: rgb(145, 145, 243);
    border-radius: 30px;
    padding:9px 20px ;
    margin-right: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
}

.header-ul > li:last-child a:hover {
    background-color: rgb(129, 129, 248);
}
.more-menu {
    display: flex;
}
.more-menu img {
    width: 8px;
    margin-right: 8px;
}