* { 
    margin: 0;
    padding: 0;
}
 
body {
    font-family: "YekanBakhHeavy", Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0px 7px;
    background-color: rgb(255, 255, 255, .72);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
}
.logo {
    margin: 11px 28px;
    border-radius: 50px;
    width: 50px;
}

.header-ul {
    display: flex;
    list-style: none ;
}

.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}

.header-ul li a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(24, 1, 48);
}

.header-ul > li:last-child a {
    color: rgb(36, 36, 245);
    background-color: rgb(145, 145, 243);
    border-radius: 20px;
    padding:10px 27px ;
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
}

.header-ul > li:last-child a:hover {
    background-color: rgb(129, 129, 248);
}
.more-menu {
    display: flex;
}
.more-menu img {
    width: 8px;
    margin-right: 8px;
}

.hamburger-logo {
    width: 27px;
    display: none;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.cross-icon {
    width: 100%;
    text-align: left;
    padding: 25px 0;
}
.cross-icon img {
    width: 20px;
    margin-left: 30px;
}
.hamburger-menu-items {
    list-style: none;
}
@media (max-width: 1200px) {
    header {
        width: 940px;
    }
}

@media (max-width: 990px) {
    header {
        width: auto;
        padding: 20px 60px;
    }
    .header-ul li:last-child {
        display: none;
    }
    .logo { 
        margin: 0;
    }
    .header-ul li {
        margin: 0 10px;
    }
}
@media ( max-width:768px)  {
    .header-ul {
        display: none;
    }
    .hamburger-logo { 
        display: block;
    }
    header {
        width: auto;
        padding: 10px 8px;
    }
}